{% extends "base.html" %}

{% block title %}CogTrack - Tests - Go/No-go Reaction Time{% endblock %}
 
{% block content %}
<p>Go/No-go Reaction Time Test</p>
<p><a href="/tests/go_no_go/test">Take the test</a></p>

{% if chart_urls %}
{% for chart_url in chart_urls %}
<img src="{{ chart_url }}" />
{% endfor %}
{% endif %}

{% if results_list %}
  <table>
    <tr>
      <th>Average reaction time</th>
      <th>Number of tests</th>
      <th>Number of mistakes</th>
      <th>Start time</th>
      <th>Finish time</th>
    </tr>
  {% for result in results_list %}
    <tr>
      <td>{{ result.reaction_time }}</td>
      <td>{{ result.tests }}</td>
      <td>{{ result.errors }}</td>
      <td>{{ result.start }}</td>
      <td>{{ result.end }}</td>
    </tr>
  {% endfor %}
  </table>
{% else %}
  Empty!
{% endif %}
{% endblock %}
