<html>
<head>
  <title>{% block title %}CogMon{% endblock %}</title>
  <link rel="stylesheet" href="{{ MEDIA_URL }}/style.css" />
  <script type="text/javascript" src="{{ MEDIA_URL }}{{ JQUERY_PATH }}">
  </script>
</head>
<body>
  <div id="header">
  {% block header %}
  <p>
  {% if user.is_authenticated %}
    Hi {{ user.username }} <a href="/logout">Log out</a>
  {% else %}
    <a href="/login">Log in</a> or <a href="/signup">Sign up</a>
  {% endif %}
  </p>
  <p>
    <a href="/">Main</a>
    <a href="/tests/">Tests</a>
  </p>
  {% endblock %}
  </div>
  <div id="content">
      {% block content %}{% endblock %}
  </div>
</body>
</html>