<html>
<head>
  <title>{% block title %}CogMon{% endblock %}</title>
  <link rel="stylesheet" href="{{ MEDIA_URL }}style.css" />
  <script type="text/javascript" src="{{ MEDIA_URL }}{{ JQUERY_PATH }}">
  </script>
</head>
<body>
  <div id="header">
  {% block header %}
  <div id="top_bar">
    <span id="logo"><img alt="CogTrack" src="{{ MEDIA_URL }}logo_small.png" /></span>
    <span id="top_right">
  {% if user.is_authenticated %}
    Hi {{ user.username }} <a href="/logout">Log out</a>
  {% else %}
    <a href="/login">Log in</a> or <a href="/signup">Sign up</a>
  {% endif %}
    </span>
  </div>
  <div id="nav_bar">
    <a href="/">Main</a>
    <a href="/tests/">Tests</a>
  </div>
  {% endblock %}
  </div>
  <div id="content">
      {% block content %}{% endblock %}
  </div>
</body>
</html>